openapi: 3.0.0
info:
  title: Merged API
  version: 1.0.0
  description: Merged OpenAPI specification
paths:
  /v2/bot/channel/webhook/endpoint:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-webhook-endpoint-information
      tags:
      - messaging-api
      operationId: getWebhookEndpoint
      description: Get webhook endpoint information
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebhookEndpointResponse'
              examples:
                ACTIVE:
                  summary: If the webhook URL was set and the webhook usage is enabled
                  value:
                    endpoint: https://example.com/test
                    active: true
                INACTIVE:
                  summary: If the webhook URL was set and the webhook usage is disabled
                  value:
                    endpoint: https://example.com/test
                    active: false
    put:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#set-webhook-endpoint-url
      tags:
      - messaging-api
      operationId: setWebhookEndpoint
      description: Set webhook endpoint URL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetWebhookEndpointRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/channel/webhook/test:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#test-webhook-endpoint
      tags:
      - messaging-api
      operationId: testWebhookEndpoint
      description: Test webhook endpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWebhookEndpointRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestWebhookEndpointResponse'
              example:
                success: true
                timestamp: '2020-09-30T05:38:20.031Z'
                statusCode: 200
                reason: OK
                detail: '200'
  /v2/bot/message/{messageId}/content:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-content
      servers:
      - url: https://api-data.line.me
      tags:
      - messaging-api-blob
      operationId: getMessageContent
      description: Download image, video, and audio data sent from users.
      parameters:
      - name: messageId
        in: path
        required: true
        description: Message ID of video or audio
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                description: blob response
                type: string
                format: binary
  /v2/bot/message/{messageId}/content/preview:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-image-or-video-preview
      servers:
      - url: https://api-data.line.me
      tags:
      - messaging-api-blob
      operationId: getMessageContentPreview
      description: Get a preview image of the image or video
      parameters:
      - name: messageId
        in: path
        required: true
        description: Message ID of image or video
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
                description: blob response
  /v2/bot/message/{messageId}/content/transcoding:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#verify-video-or-audio-preparation-status
      servers:
      - url: https://api-data.line.me
      tags:
      - messaging-api-blob
      operationId: getMessageContentTranscodingByMessageId
      description: Verify the preparation status of a video or audio for getting
      parameters:
      - name: messageId
        in: path
        required: true
        description: Message ID of video or audio
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageContentTranscodingResponse'
              example:
                status: processing
  /v2/bot/message/reply:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#send-reply-message
      tags:
      - messaging-api
      operationId: replyMessage
      description: Send reply message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyMessageRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplyMessageResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/message/push:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#send-push-message
      tags:
      - messaging-api
      operationId: pushMessage
      description: Sends a message to a user, group chat, or multi-person chat at
        any time.
      parameters:
      - name: X-Line-Retry-Key
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: 'Retry key.

          Specifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`)
          generated by any method.

          The retry key isn''t generated by LINE. Each developer must generate their
          own retry key.

          '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushMessageRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushMessageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/message/multicast:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#send-multicast-message
      tags:
      - messaging-api
      operationId: multicast
      description: An API that efficiently sends the same message to multiple user
        IDs. You can't send messages to group chats or multi-person chats.
      parameters:
      - name: X-Line-Retry-Key
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: 'Retry key.

          Specifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`)
          generated by any method.

          The retry key isn''t generated by LINE. Each developer must generate their
          own retry key.

          '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MulticastRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MulticastResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/message/narrowcast:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#send-narrowcast-message
      tags:
      - messaging-api
      operationId: narrowcast
      description: Send narrowcast message
      parameters:
      - name: X-Line-Retry-Key
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: 'Retry key.

          Specifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`)
          generated by any method.

          The retry key isn''t generated by LINE. Each developer must generate their
          own retry key.

          '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NarrowcastRequest'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NarrowcastResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/message/progress/narrowcast:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-narrowcast-progress-status
      tags:
      - messaging-api
      operationId: getNarrowcastProgress
      description: Gets the status of a narrowcast message.
      parameters:
      - name: requestId
        in: query
        required: true
        schema:
          type: string
        description: The narrowcast message's request ID. Each Messaging API request
          has a request ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NarrowcastProgressResponse'
              example:
                phase: waiting
                acceptedTime: 2020-12-03 10:15:30.121000+00:00
  /v2/bot/message/broadcast:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#send-broadcast-message
      tags:
      - messaging-api
      operationId: broadcast
      description: Sends a message to multiple users at any time.
      parameters:
      - name: X-Line-Retry-Key
        in: header
        required: false
        schema:
          type: string
          format: uuid
        description: 'Retry key.

          Specifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`)
          generated by any method.

          The retry key isn''t generated by LINE. Each developer must generate their
          own retry key.

          '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/message/quota:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-quota
      tags:
      - messaging-api
      operationId: getMessageQuota
      description: Gets the target limit for sending messages in the current month.
        The total number of the free messages and the additional messages is returned.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageQuotaResponse'
              example:
                type: limited
                value: 1000
  /v2/bot/message/quota/consumption:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-consumption
      tags:
      - messaging-api
      operationId: getMessageQuotaConsumption
      description: Gets the number of messages sent in the current month.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaConsumptionResponse'
              example:
                totalUsage: 500
  /v2/bot/message/delivery/reply:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-number-of-reply-messages
      tags:
      - messaging-api
      operationId: getNumberOfSentReplyMessages
      description: Get number of sent reply messages
      parameters:
      - name: date
        in: query
        required: true
        schema:
          type: string
        description: 'Date the messages were sent


          Format: `yyyyMMdd` (e.g. `20191231`)

          Timezone: UTC+9

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberOfMessagesResponse'
              example:
                status: ready
                success: 10000
  /v2/bot/message/delivery/push:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-number-of-push-messages
      tags:
      - messaging-api
      operationId: getNumberOfSentPushMessages
      description: Get number of sent push messages
      parameters:
      - name: date
        in: query
        required: true
        schema:
          type: string
        description: 'Date the messages were sent


          Format: `yyyyMMdd` (e.g. `20191231`)

          Timezone: UTC+9

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberOfMessagesResponse'
              example:
                status: ready
                success: 10000
  /v2/bot/message/delivery/multicast:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-number-of-multicast-messages
      tags:
      - messaging-api
      operationId: getNumberOfSentMulticastMessages
      description: Get number of sent multicast messages
      parameters:
      - name: date
        in: query
        required: true
        schema:
          type: string
        description: 'Date the messages were sent


          Format: `yyyyMMdd` (e.g. `20191231`)

          Timezone: UTC+9

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberOfMessagesResponse'
              example:
                status: ready
                success: 10000
  /v2/bot/message/delivery/broadcast:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-number-of-broadcast-messages
      tags:
      - messaging-api
      operationId: getNumberOfSentBroadcastMessages
      description: Get number of sent broadcast messages
      parameters:
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: ^[0-9]{8}$
        description: 'Date the messages were sent


          Format: yyyyMMdd (e.g. 20191231)

          Timezone: UTC+9

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberOfMessagesResponse'
              example:
                status: ready
                success: 10000
  /v2/bot/message/validate/reply:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-reply-message
      tags:
      - messaging-api
      operationId: validateReply
      description: Validate message objects of a reply message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateMessageRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/message/validate/push:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-push-message
      tags:
      - messaging-api
      operationId: validatePush
      description: Validate message objects of a push message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateMessageRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/message/validate/multicast:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-multicast-message
      tags:
      - messaging-api
      operationId: validateMulticast
      description: Validate message objects of a multicast message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateMessageRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/message/validate/narrowcast:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-narrowcast-message
      tags:
      - messaging-api
      operationId: validateNarrowcast
      description: Validate message objects of a narrowcast message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateMessageRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/message/validate/broadcast:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-broadcast-message
      tags:
      - messaging-api
      operationId: validateBroadcast
      description: Validate message objects of a broadcast message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateMessageRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/message/aggregation/info:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-number-of-units-used-this-month
      tags:
      - messaging-api
      operationId: getAggregationUnitUsage
      description: Get number of units used this month
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAggregationUnitUsageResponse'
              example:
                numOfCustomAggregationUnits: 22
  /v2/bot/message/aggregation/list:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-name-list-of-units-used-this-month
      tags:
      - messaging-api
      operationId: getAggregationUnitNameList
      description: Get name list of units used this month
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: string
        description: 'The maximum number of aggregation units you can get per request.

          '
      - name: start
        in: query
        required: false
        schema:
          type: string
        description: 'Value of the continuation token found in the next property of
          the JSON object returned in the response.

          If you can''t get all the aggregation units in one request, include this
          parameter to get the remaining array.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAggregationUnitNameListResponse'
              example:
                customAggregationUnits:
                - promotion_a
                - promotion_b
                next: jxEWCEEP...
  /v2/bot/profile/{userId}:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-profile
      tags:
      - messaging-api
      operationId: getProfile
      description: Get profile
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
              example:
                displayName: LINE taro
                userId: U4af4980629...
                language: en
                pictureUrl: https://obs.line-apps.com/...
                statusMessage: Hello, LINE!
  /v2/bot/followers/ids:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-follower-ids
      tags:
      - messaging-api
      operationId: getFollowers
      description: Get a list of users who added your LINE Official Account as a friend
      parameters:
      - name: start
        in: query
        required: false
        description: 'Value of the continuation token found in the next property of
          the JSON object returned in the response.

          Include this parameter to get the next array of user IDs.

          '
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: The maximum number of user IDs to retrieve in a single request.
        schema:
          type: integer
          format: int32
          default: 300
          maximum: 1000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFollowersResponse'
              example:
                userIds:
                - U4af4980629...
                - U0c229f96c4...
                - U95afb1d4df...
                next: yANU9IA...
  /v2/bot/info:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-bot-info
      tags:
      - messaging-api
      operationId: getBotInfo
      description: Get bot info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotInfoResponse'
              example:
                userId: Ub9952f8...
                basicId: '@216ru...'
                displayName: Example name
                pictureUrl: https://obs.line-apps.com/...
                chatMode: chat
                markAsReadMode: manual
  /v2/bot/group/{groupId}/member/{userId}:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-group-member-profile
      tags:
      - messaging-api
      operationId: getGroupMemberProfile
      description: Get group chat member profile
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        description: Group ID
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupUserProfileResponse'
              example:
                displayName: LINE taro
                userId: U4af4980629...
                pictureUrl: https://obs.line-apps.com/...
  /v2/bot/room/{roomId}/member/{userId}:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-room-member-profile
      tags:
      - messaging-api
      operationId: getRoomMemberProfile
      description: Get multi-person chat member profile
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
        description: Room ID
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomUserProfileResponse'
              example:
                displayName: LINE taro
                userId: U4af4980629...
                pictureUrl: https://obs.line-apps.com/...
  /v2/bot/group/{groupId}/members/ids:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-group-member-user-ids
      tags:
      - messaging-api
      operationId: getGroupMembersIds
      description: Get group chat member user IDs
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        description: Group ID
      - name: start
        in: query
        required: false
        schema:
          type: string
        description: 'Value of the continuation token found in the `next` property
          of the JSON object returned in the response.

          Include this parameter to get the next array of user IDs for the members
          of the group.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersIdsResponse'
              example:
                memberIds:
                - U4af4980629...
                - U0c229f96c4...
                - U95afb1d4df...
                next: jxEWCEEP...
  /v2/bot/room/{roomId}/members/ids:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-room-member-user-ids
      tags:
      - messaging-api
      operationId: getRoomMembersIds
      description: Get multi-person chat member user IDs
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
        description: Room ID
      - name: start
        in: query
        required: false
        schema:
          type: string
        description: 'Value of the continuation token found in the `next` property
          of the JSON object returned in the response.

          Include this parameter to get the next array of user IDs for the members
          of the group.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersIdsResponse'
              example:
                memberIds:
                - U4af4980629...
                - U0c229f96c4...
                - U95afb1d4df...
                next: jxEWCEEP...
  /v2/bot/group/{groupId}/leave:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#leave-group
      tags:
      - messaging-api
      operationId: leaveGroup
      description: Leave group chat
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        description: Group ID
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/room/{roomId}/leave:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#leave-room
      tags:
      - messaging-api
      operationId: leaveRoom
      description: Leave multi-person chat
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
        description: Room ID
      responses:
        '200':
          description: OK
  /v2/bot/group/{groupId}/summary:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-group-summary
      tags:
      - messaging-api
      operationId: getGroupSummary
      description: Get group chat summary
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        description: Group ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSummaryResponse'
              example:
                groupId: Ca56f94637c...
                groupName: Group name
                pictureUrl: https://profile.line-scdn.net/abcdefghijklmn
  /v2/bot/group/{groupId}/members/count:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-members-group-count
      tags:
      - messaging-api
      operationId: getGroupMemberCount
      description: Get number of users in a group chat
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        description: Group ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupMemberCountResponse'
              example:
                count: 3
  /v2/bot/room/{roomId}/members/count:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-members-room-count
      tags:
      - messaging-api
      operationId: getRoomMemberCount
      description: Get number of users in a multi-person chat
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          type: string
        description: Room ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomMemberCountResponse'
              example:
                count: 3
  /v2/bot/richmenu:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#create-rich-menu
      tags:
      - messaging-api
      operationId: createRichMenu
      description: Create rich menu
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichMenuRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RichMenuIdResponse'
              example:
                richMenuId: '{richMenuId}'
  /v2/bot/richmenu/validate:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#validate-rich-menu-object
      tags:
      - messaging-api
      operationId: validateRichMenuObject
      description: Validate rich menu object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichMenuRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/richmenu/{richMenuId}/content:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#download-rich-menu-image
      servers:
      - url: https://api-data.line.me
      tags:
      - messaging-api-blob
      operationId: getRichMenuImage
      description: Download rich menu image.
      parameters:
      - name: richMenuId
        in: path
        required: true
        description: ID of the rich menu with the image to be downloaded
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
                description: blob response
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#upload-rich-menu-image
      servers:
      - url: https://api-data.line.me
      tags:
      - messaging-api-blob
      operationId: setRichMenuImage
      description: Upload rich menu image
      parameters:
      - name: richMenuId
        in: path
        required: true
        description: The ID of the rich menu to attach the image to
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              description: blob request
              type: string
              format: binary
      responses:
        '200':
          description: OK
  /v2/bot/richmenu/{richMenuId}:
    parameters:
    - name: richMenuId
      in: path
      required: true
      schema:
        type: string
      description: ID of a rich menu
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-rich-menu
      tags:
      - messaging-api
      operationId: getRichMenu
      description: Gets a rich menu via a rich menu ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RichMenuResponse'
              example:
                richMenuId: '{richMenuId}'
                size:
                  width: 2500
                  height: 1686
                name: nice rich menu
                chatBarText: click
                selected: false
                areas:
                - bounds:
                    x: 0
                    y: 0
                    width: 2500
                    height: 1686
                  action:
                    type: postback
                    data: action=buy&itemid=123
    delete:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#delete-rich-menu
      tags:
      - messaging-api
      operationId: deleteRichMenu
      description: Deletes a rich menu.
      responses:
        '200':
          description: OK
  /v2/bot/richmenu/list:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-list
      tags:
      - messaging-api
      operationId: getRichMenuList
      description: Get rich menu list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RichMenuListResponse'
              example:
                richmenus:
                - richMenuId: '{richMenuId}'
                  size:
                    width: 2500
                    height: 1686
                  selected: false
                  name: nice rich menu
                  chatBarText: click
                  areas:
                  - bounds:
                      x: 0
                      y: 0
                      width: 2500
                      height: 1686
                    action:
                      type: postback
                      data: action=buy&itemid=123
  /v2/bot/user/all/richmenu/{richMenuId}:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#set-default-rich-menu
      tags:
      - messaging-api
      operationId: setDefaultRichMenu
      description: Set default rich menu
      parameters:
      - name: richMenuId
        in: path
        required: true
        schema:
          type: string
        description: ID of a rich menu
      responses:
        '200':
          description: OK
  /v2/bot/user/all/richmenu:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-default-rich-menu-id
      tags:
      - messaging-api
      operationId: getDefaultRichMenuId
      description: Gets the ID of the default rich menu set with the Messaging API.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RichMenuIdResponse'
              example:
                richMenuId: '{richMenuId}'
    delete:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#cancel-default-rich-menu
      tags:
      - messaging-api
      operationId: cancelDefaultRichMenu
      description: Cancel default rich menu
      responses:
        '200':
          description: OK
  /v2/bot/richmenu/alias:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#create-rich-menu-alias
      tags:
      - messaging-api
      operationId: createRichMenuAlias
      description: Create rich menu alias
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRichMenuAliasRequest'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/richmenu/alias/{richMenuAliasId}:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-alias-by-id
      tags:
      - messaging-api
      operationId: getRichMenuAlias
      description: Get rich menu alias information
      parameters:
      - name: richMenuAliasId
        in: path
        required: true
        schema:
          type: string
        description: The rich menu alias ID whose information you want to obtain.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RichMenuAliasResponse'
              example:
                richMenuAliasId: richmenu-alias-a
                richMenuId: richmenu-88c05ef6921ae53f8b58a25f3a65faf7
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#update-rich-menu-alias
      tags:
      - messaging-api
      operationId: updateRichMenuAlias
      description: Update rich menu alias
      parameters:
      - name: richMenuAliasId
        in: path
        required: true
        schema:
          type: string
        description: The rich menu alias ID you want to update.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRichMenuAliasRequest'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#delete-rich-menu-alias
      tags:
      - messaging-api
      operationId: deleteRichMenuAlias
      description: Delete rich menu alias
      parameters:
      - name: richMenuAliasId
        in: path
        required: true
        schema:
          type: string
        description: Rich menu alias ID that you want to delete.
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/richmenu/alias/list:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-alias-list
      tags:
      - messaging-api
      operationId: getRichMenuAliasList
      description: Get list of rich menu alias
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RichMenuAliasListResponse'
              examples:
                TWO_ALIASES:
                  summary: If you have 2 rich menu aliases
                  value:
                    aliases:
                    - richMenuAliasId: richmenu-alias-a
                      richMenuId: richmenu-862e6ad6c267d2ddf3f42bc78554f6a4
                    - richMenuAliasId: richmenu-alias-b
                      richMenuId: richmenu-88c05ef6921ae53f8b58a25f3a65faf7
                NO_ALIASES:
                  summary: If you have 0 rich menu alias
                  value:
                    aliases: []
  /v2/bot/user/{userId}/richmenu:
    parameters:
    - name: userId
      in: path
      required: true
      schema:
        type: string
      description: User ID. Found in the `source` object of webhook event objects.
        Do not use the LINE ID used in LINE.
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-id-of-user
      tags:
      - messaging-api
      operationId: getRichMenuIdOfUser
      description: Get rich menu ID of user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RichMenuIdResponse'
              example:
                richMenuId: '{richMenuId}'
    delete:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#unlink-rich-menu-from-user
      tags:
      - messaging-api
      operationId: unlinkRichMenuIdFromUser
      description: Unlink rich menu from user
      responses:
        '200':
          description: OK
  /v2/bot/user/{userId}/richmenu/{richMenuId}:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#link-rich-menu-to-user
      tags:
      - messaging-api
      operationId: linkRichMenuIdToUser
      description: Link rich menu to user.
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User ID. Found in the `source` object of webhook event objects.
          Do not use the LINE ID used in LINE.
      - name: richMenuId
        in: path
        required: true
        schema:
          type: string
        description: ID of a rich menu
      responses:
        '200':
          description: OK
  /v2/bot/richmenu/bulk/link:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#link-rich-menu-to-users
      tags:
      - messaging-api
      operationId: linkRichMenuIdToUsers
      description: Link rich menu to multiple users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichMenuBulkLinkRequest'
        required: true
      responses:
        '202':
          description: Accepted
  /v2/bot/richmenu/bulk/unlink:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#unlink-rich-menu-from-users
      tags:
      - messaging-api
      operationId: unlinkRichMenuIdFromUsers
      description: Unlink rich menus from multiple users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichMenuBulkUnlinkRequest'
        required: true
      responses:
        '202':
          description: Accepted
  /v2/bot/richmenu/batch:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#batch-control-rich-menus-of-users
      tags:
      - messaging-api
      operationId: richMenuBatch
      description: 'You can use this endpoint to batch control the rich menu linked
        to the users using the endpoint such as Link rich menu to user.

        The following operations are available:


        1. Replace a rich menu with another rich menu for all users linked to a specific
        rich menu

        2. Unlink a rich menu for all users linked to a specific rich menu

        3. Unlink a rich menu for all users linked the rich menu

        '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichMenuBatchRequest'
        required: true
      responses:
        '202':
          description: Accepted
  /v2/bot/richmenu/validate/batch:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#validate-batch-control-rich-menus-request
      tags:
      - messaging-api
      operationId: validateRichMenuBatchRequest
      description: Validate a request body of the Replace or unlink the linked rich
        menus in batches endpoint.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RichMenuBatchRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/richmenu/progress/batch:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-batch-control-rich-menus-progress-status
      tags:
      - messaging-api
      operationId: getRichMenuBatchProgress
      description: Get the status of Replace or unlink a linked rich menus in batches.
      parameters:
      - name: requestId
        in: query
        required: true
        schema:
          type: string
        description: A request ID used to batch control the rich menu linked to the
          user. Each Messaging API request has a request ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RichMenuBatchProgressResponse'
              example:
                phase: ongoing
                acceptedTime: 2023-07-04 10:15:30.121000+00:00
  /v2/bot/user/{userId}/linkToken:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#issue-link-token
      tags:
      - messaging-api
      operationId: issueLinkToken
      description: Issue link token
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: 'User ID for the LINE account to be linked.

          Found in the `source` object of account link event objects. Do not use the
          LINE ID used in LINE.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueLinkTokenResponse'
              example:
                linkToken: NMZTNuVrPTqlr2IF8Bnymkb7rXfYv5EY
  /v2/bot/message/markAsRead:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#mark-messages-from-users-as-read
      tags:
      - messaging-api
      operationId: markMessagesAsRead
      description: Mark messages from users as read
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkMessagesAsReadRequest'
            example:
              chat:
                userId: Uxxxxxxxxxxxxxxxxxx
        required: true
      responses:
        '200':
          description: OK
  /bot/pnp/push:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#send-line-notification-message
      tags:
      - messaging-api
      operationId: pushMessagesByPhone
      description: Send LINE notification message
      parameters:
      - name: X-Line-Delivery-Tag
        in: header
        required: false
        schema:
          type: string
          minLength: 16
          maxLength: 100
        description: String returned in the delivery.data property of the delivery
          completion event via Webhook.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PnpMessagesRequest'
        required: true
      responses:
        '200':
          description: OK
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bot/ad/multicast/phone:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#phone-audience-match
      tags:
      - messaging-api
      operationId: audienceMatch
      description: Send a message using phone number
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceMatchMessagesRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/message/delivery/pnp:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#get-number-of-sent-line-notification-messages
      tags:
      - messaging-api
      operationId: getPNPMessageStatistics
      description: "Get number of sent LINE notification messages\u3000"
      parameters:
      - name: date
        in: query
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8}$
        description: 'Date the message was sent


          Format: `yyyyMMdd` (Example:`20211231`)

          Time zone: UTC+9

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberOfMessagesResponse'
              example:
                status: ready
                success: 3
  /v2/bot/message/delivery/ad_phone:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#get-phone-audience-match
      tags:
      - messaging-api
      operationId: getAdPhoneMessageStatistics
      description: Get result of message delivery using phone number
      parameters:
      - name: date
        in: query
        required: true
        schema:
          type: string
        description: 'Date the message was sent


          Format: `yyyyMMdd` (e.g. `20190831`)

          Time Zone: UTC+9

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberOfMessagesResponse'
              examples:
                READY:
                  summary: Example of response when status is `ready`
                  value:
                    status: ready
                    success: 10000
                UNAVAILABLE_FOR_PRIVACY:
                  summary: Example response when status is `unavailable_for_privacy`
                  value:
                    status: unavailable_for_privacy
  /v2/bot/membership/subscription/{userId}:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-a-users-membership-subscription-status
      tags:
      - messaging-api
      operationId: getMembershipSubscription
      description: Get a user's membership subscription.
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMembershipSubscriptionResponse'
              example:
                subscriptions:
                - membership:
                    membershipId: 3189
                    title: Basic Plan
                    description: You will receive messages and photos every Saturday.
                    benefits:
                    - Members Only Messages
                    - Members Only Photos
                    price: 500.0
                    currency: JPY
                  user:
                    membershipNo: 1
                    joinedTime: 1707214784
                    nextBillingDate: '2024-02-08'
                    totalSubscriptionMonths: 1
        '400':
          description: An invalid user ID is specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Unable to get information about the membership to which the
            user subscribes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/membership/list:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-membership-plans
      tags:
      - messaging-api
      operationId: getMembershipList
      description: Get a list of memberships.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipListResponse'
              example:
                memberships:
                - membershipId: 3189
                  title: Basic Plan
                  description: You will receive messages and photos every Saturday.
                  benefits:
                  - Members Only Messages
                  - Members Only Photos
                  price: 500.0
                  currency: JPY
                  memberCount: 1
                  memberLimit: null
                  isInAppPurchase: true
                  isPublished: true
                - membershipId: 3213
                  title: Premium Plan
                  description: Invitation to a special party.
                  benefits:
                  - Members Only Party
                  price: 1500.0
                  currency: JPY
                  memberCount: 0
                  memberLimit: null
                  isInAppPurchase: false
                  isPublished: true
        '404':
          description: Unable to get information about the memberships.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/chat/loading/start:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#display-a-loading-indicator
      tags:
      - messaging-api
      operationId: showLoadingAnimation
      description: Display a loading animation in one-on-one chats between users and
        LINE Official Accounts.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShowLoadingAnimationRequest'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowLoadingAnimationResponse'
        '400':
          description: An invalid chat ID is specified, or the loadingSeconds value
            is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/bot/audienceGroup/upload:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#create-upload-audience-group
      tags:
      - manage-audience
      operationId: createAudienceGroup
      description: Create audience for uploading user IDs (by JSON)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAudienceGroupRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAudienceGroupResponse'
              example:
                audienceGroupId: 1234567890123
                createRoute: MESSAGING_API
                type: UPLOAD
                description: audienceGroupName_01
                created: 1613698278
                permission: READ_WRITE
                expireTimestamp: 1629250278
                isIfaAudience: false
    put:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#update-upload-audience-group
      tags:
      - manage-audience
      operationId: addAudienceToAudienceGroup
      description: Add user IDs or Identifiers for Advertisers (IFAs) to an audience
        for uploading user IDs (by JSON)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAudienceToAudienceGroupRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/audienceGroup/upload/byFile:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#create-upload-audience-group-by-file
      servers:
      - url: https://api-data.line.me
      tags:
      - manage-audience-blob
      operationId: createAudienceForUploadingUserIds
      description: Create audience for uploading user IDs (by file).
      requestBody:
        content:
          multipart/form-data:
            schema:
              description: Request for createAudienceForUploadingUserIds
              type: object
              required:
              - file
              properties:
                description:
                  type: string
                  maxLength: 120
                  description: 'The audience''s name. This is case-insensitive, meaning
                    AUDIENCE and audience are considered identical.

                    Max character limit: 120

                    '
                isIfaAudience:
                  type: boolean
                  description: 'To specify recipients by IFAs: set `true`.

                    To specify recipients by user IDs: set `false` or omit isIfaAudience
                    property.

                    '
                uploadDescription:
                  type: string
                  description: 'The description to register for the job (in `jobs[].description`).

                    '
                file:
                  type: string
                  format: binary
                  description: 'A text file with one user ID or IFA entered per line.
                    Specify text/plain as Content-Type. Max file number: 1

                    Max number: 1,500,000

                    '
            encoding:
              file:
                contentType: text/plain
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAudienceGroupResponse'
              example:
                audienceGroupId: 1234567890123
                createRoute: MESSAGING_API
                type: UPLOAD
                description: audienceGroupName_01
                created: 1613700237
                permission: READ_WRITE
                expireTimestamp: 1629252237
                isIfaAudience: false
    put:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#update-upload-audience-group-by-file
      servers:
      - url: https://api-data.line.me
      tags:
      - manage-audience-blob
      operationId: addUserIdsToAudience
      description: Add user IDs or Identifiers for Advertisers (IFAs) to an audience
        for uploading user IDs (by file).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              description: Request of the addUserIdsToAudience
              type: object
              required:
              - file
              properties:
                audienceGroupId:
                  type: integer
                  format: int64
                  description: The audience ID.
                uploadDescription:
                  type: string
                  description: The description to register with the job
                file:
                  type: string
                  format: binary
                  description: 'A text file with one user ID or IFA entered per line.
                    Specify text/plain as Content-Type. Max file number: 1

                    Max number: 1,500,000

                    '
            encoding:
              file:
                contentType: text/plain
      responses:
        '202':
          description: OK
  /v2/bot/audienceGroup/click:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#create-click-audience-group
      tags:
      - manage-audience
      operationId: createClickBasedAudienceGroup
      description: Create audience for click-based retargeting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClickBasedAudienceGroupRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClickBasedAudienceGroupResponse'
              example:
                audienceGroupId: 1234567890123
                createRoute: MESSAGING_API
                type: CLICK
                description: audienceGroupName_01
                created: 1613705240
                permission: READ_WRITE
                expireTimestamp: 1629257239
                isIfaAudience: false
                requestId: bb9744f9-47fa-4a29-941e-1234567890ab
                clickUrl: https://developers.line.biz/
  /v2/bot/audienceGroup/imp:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#create-imp-audience-group
      tags:
      - manage-audience
      operationId: createImpBasedAudienceGroup
      description: Create audience for impression-based retargeting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImpBasedAudienceGroupRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImpBasedAudienceGroupResponse'
              example:
                audienceGroupId: 1234567890123
                createRoute: MESSAGING_API
                type: IMP
                description: audienceGroupName_01
                created: 1613707097
                permission: READ_WRITE
                expireTimestamp: 1629259095
                isIfaAudience: false
                requestId: bb9744f9-47fa-4a29-941e-1234567890ab
  /v2/bot/audienceGroup/{audienceGroupId}/updateDescription:
    put:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#set-description-audience-group
      tags:
      - manage-audience
      operationId: updateAudienceGroupDescription
      description: Renames an existing audience.
      parameters:
      - name: audienceGroupId
        in: path
        required: true
        description: The audience ID.
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAudienceGroupDescriptionRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/audienceGroup/{audienceGroupId}/activate:
    put:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#activate-audience-group
      tags:
      - manage-audience
      operationId: activateAudienceGroup
      description: Activate audience
      parameters:
      - name: audienceGroupId
        in: path
        required: true
        description: The audience ID.
        schema:
          type: integer
          format: int64
      responses:
        '202':
          description: Accepted
  /v2/bot/audienceGroup/{audienceGroupId}:
    parameters:
    - name: audienceGroupId
      in: path
      required: true
      description: The audience ID.
      schema:
        type: integer
        format: int64
    delete:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#delete-audience-group
      tags:
      - manage-audience
      operationId: deleteAudienceGroup
      description: Delete audience
      responses:
        '200':
          description: OK
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-audience-group
      tags:
      - manage-audience
      operationId: getAudienceData
      description: Gets audience data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAudienceDataResponse'
              examples:
                UPLOADING_USER_IDS:
                  summary: Example of an audience used for uploading user IDs
                  value:
                    audienceGroup:
                      audienceGroupId: 1234567890123
                      createRoute: OA_MANAGER
                      type: UPLOAD
                      description: audienceGroupName_01
                      status: READY
                      audienceCount: 1887
                      created: 1608617466
                      permission: READ
                      isIfaAudience: false
                      expireTimestamp: 1624342266
                    jobs:
                    - audienceGroupJobId: 12345678
                      audienceGroupId: 1234567890123
                      description: audience_list.txt
                      type: DIFF_ADD
                      status: FINISHED
                      failedType: AUDIENCE_GROUP_AUDIENCE_INSUFFICIENT
                      audienceCount: 0
                      created: 1608617472
                      jobStatus: FINISHED
                CLICK_BASED:
                  summary: Example of an audience used for click-based retargeting
                  value:
                    audienceGroup:
                      audienceGroupId: 1234567890987
                      createRoute: OA_MANAGER
                      type: CLICK
                      description: audienceGroupName_02
                      status: IN_PROGRESS
                      audienceCount: 8619
                      created: 1611114828
                      permission: READ
                      isIfaAudience: false
                      expireTimestamp: 1626753228
                      requestId: c10c3d86-f565-...
                      clickUrl: https://example.com/
                    jobs: []
                APP_EVENTS:
                  summary: Example of an audience used for app events
                  value:
                    audienceGroup:
                      audienceGroupId: 2345678909876
                      createRoute: AD_MANAGER
                      type: APP_EVENT
                      description: audienceGroupName_03
                      status: READY
                      audienceCount: 8619
                      created: 1608619802
                      permission: READ
                      activated: 1610068515
                      inactiveTimestamp: 1625620516
                      isIfaAudience: false
                    jobs: []
                    adaccount:
                      name: Ad Account Name
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: audience group not found
                details:
                - message: AUDIENCE_GROUP_NOT_FOUND
  /v2/bot/audienceGroup/list:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-audience-groups
      tags:
      - manage-audience
      operationId: getAudienceGroups
      description: Gets data for more than one audience.
      parameters:
      - name: page
        in: query
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
        description: The page to return when getting (paginated) results. Must be
          1 or higher.
      - name: description
        in: query
        required: false
        schema:
          type: string
        description: 'The name of the audience(s) to return.

          You can search for partial matches.

          This is case-insensitive, meaning AUDIENCE and audience are considered identical.

          If omitted, the name of the audience(s) will not be used as a search criterion.

          '
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/AudienceGroupStatus'
        description: 'The status of the audience(s) to return. If omitted, the status
          of the audience(s) will not be used as a search criterion.

          '
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int64
          example: 20
          maximum: 40
        description: 'The number of audiences per page. Default: 20

          Max: 40

          '
      - name: includesExternalPublicGroups
        in: query
        required: false
        schema:
          type: boolean
          example: true
        description: 'true (default): Get public audiences created in all channels
          linked to the same bot.

          false: Get audiences created in the same channel.

          '
      - name: createRoute
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/AudienceGroupCreateRoute'
        description: 'How the audience was created. If omitted, all audiences are
          included.


          `OA_MANAGER`: Return only audiences created with LINE Official Account Manager
          (opens new window).

          `MESSAGING_API`: Return only audiences created with Messaging API.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAudienceGroupsResponse'
              examples:
                TWO_AUDIENCES:
                  summary: Example of when there are two audiences that match the
                    specified filter
                  value:
                    audienceGroups:
                    - audienceGroupId: 1234567890123
                      createRoute: OA_MANAGER
                      type: CLICK
                      description: audienceGroupName_01
                      status: IN_PROGRESS
                      audienceCount: 8619
                      created: 1611114828
                      permission: READ
                      isIfaAudience: false
                      expireTimestamp: 1626753228
                      requestId: c10c3d86-f565-...
                      clickUrl: https://example.com/
                    - audienceGroupId: 2345678901234
                      createRoute: AD_MANAGER
                      type: APP_EVENT
                      description: audienceGroupName_02
                      status: READY
                      audienceCount: 3368
                      created: 1608619802
                      permission: READ
                      activated: 1610068515
                      inactiveTimestamp: 1625620516
                      isIfaAudience: false
                    hasNextPage: false
                    totalCount: 2
                    readWriteAudienceGroupTotalCount: 0
                    size: 40
                    page: 1
                NO_AUDIENCE:
                  summary: Example of when there is no audience that matches the specified
                    filter
                  value:
                    audienceGroups: []
                    hasNextPage: false
                    totalCount: 0
                    readWriteAudienceGroupTotalCount: 0
                    size: 40
                    page: 1
  /v2/bot/audienceGroup/authorityLevel:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-authority-level
      tags:
      - manage-audience
      operationId: getAudienceGroupAuthorityLevel
      description: Get the authority level of the audience
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAudienceGroupAuthorityLevelResponse'
              example:
                authorityLevel: PUBLIC
    put:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#change-authority-level
      tags:
      - manage-audience
      operationId: updateAudienceGroupAuthorityLevel
      description: Change the authority level of the audience
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAudienceGroupAuthorityLevelRequest'
        required: true
      responses:
        '200':
          description: OK
  /v2/bot/insight/demographic:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-demographic
      tags:
      - insight
      operationId: getFriendsDemographics
      description: 'Retrieves the demographic attributes for a LINE Official Account''s

        friends.You can only retrieve information about friends for LINE Official

        Accounts created by users in Japan (JP), Thailand (TH), Taiwan (TW) and Indonesia

        (ID).

        '
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFriendsDemographicsResponse'
              example:
                available: true
                genders:
                - gender: unknown
                  percentage: 37.6
                - gender: male
                  percentage: 31.8
                - gender: female
                  percentage: 30.6
                ages:
                - age: unknown
                  percentage: 37.6
                - age: from50
                  percentage: 17.3
                areas:
                - area: unknown
                  percentage: 42.9
                - area: "\u5FB3\u5CF6"
                  percentage: 2.9
                appTypes:
                - appType: ios
                  percentage: 62.4
                - appType: android
                  percentage: 27.7
                - appType: others
                  percentage: 9.9
                subscriptionPeriods:
                - subscriptionPeriod: over365days
                  percentage: 96.4
                - subscriptionPeriod: within365days
                  percentage: 1.9
                - subscriptionPeriod: within180days
                  percentage: 1.2
                - subscriptionPeriod: within90days
                  percentage: 0.5
                - subscriptionPeriod: within30days
                  percentage: 0.1
                - subscriptionPeriod: within7days
                  percentage: 0
          description: OK
  /v2/bot/insight/message/delivery:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-number-of-delivery-messages
      tags:
      - insight
      operationId: getNumberOfMessageDeliveries
      description: 'Returns the number of messages sent from LINE Official Account

        on a specified day.

        '
      parameters:
      - in: query
        name: date
        description: 'Date for which to retrieve number of sent messages.

          - Format: yyyyMMdd (e.g. 20191231)

          - Timezone: UTC+9

          '
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8}$
          minLength: 8
          maxLength: 8
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNumberOfMessageDeliveriesResponse'
              example:
                status: ready
                broadcast: 5385
                targeting: 522
          description: OK
      summary: Get number of message deliveries
  /v2/bot/insight/followers:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-number-of-followers
      tags:
      - insight
      summary: Get number of followers
      description: 'Returns the number of users who have added the LINE Official Account

        on or before a specified date.

        '
      operationId: getNumberOfFollowers
      parameters:
      - in: query
        name: date
        required: false
        description: 'Date for which to retrieve the number of followers.


          Format: yyyyMMdd (e.g. 20191231)

          Timezone: UTC+9

          '
        schema:
          type: string
          pattern: ^[0-9]{8}$
          maxLength: 8
          minLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNumberOfFollowersResponse'
              example:
                status: ready
                followers: 7620
                targetedReaches: 5848
                blocks: 237
  /v2/bot/insight/message/event:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-message-event
      tags:
      - insight
      description: 'Returns statistics about how users interact with narrowcast messages

        or broadcast messages sent from your LINE Official Account.

        '
      summary: Get user interaction statistics
      operationId: getMessageEvent
      parameters:
      - in: query
        name: requestId
        required: true
        description: 'Request ID of a narrowcast message or broadcast message.

          Each Messaging API request has a request ID.

          '
        schema:
          type: string
          minLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageEventResponse'
              example:
                overview:
                  requestId: f70dd685-499a-4231-a441-f24b8d4fba21
                  timestamp: 1568214000
                  delivered: 320
                  uniqueImpression: 82
                  uniqueClick: 51
                  uniqueMediaPlayed: null
                  uniqueMediaPlayed100Percent: null
                messages:
                - seq: 1
                  impression: 136
                  mediaPlayed: null
                  mediaPlayed25Percent: null
                  mediaPlayed50Percent: null
                  mediaPlayed75Percent: null
                  mediaPlayed100Percent: null
                  uniqueMediaPlayed: null
                  uniqueMediaPlayed25Percent: null
                  uniqueMediaPlayed50Percent: null
                  uniqueMediaPlayed75Percent: null
                  uniqueMediaPlayed100Percent: null
                clicks:
                - seq: 1
                  url: https://line.me/
                  click: 41
                  uniqueClick: 30
                  uniqueClickOfRequest: 30
                - seq: 1
                  url: https://www.linebiz.com/
                  click: 59
                  uniqueClick: 38
                  uniqueClickOfRequest: 38
  /v2/bot/insight/message/event/aggregation:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#get-statistics-per-unit
      tags:
      - insight
      description: 'You can check the per-unit statistics of how users interact with

        push messages and multicast messages sent from your LINE Official Account.

        '
      operationId: getStatisticsPerUnit
      parameters:
      - in: query
        name: customAggregationUnit
        required: true
        description: 'Name of aggregation unit specified when sending the message.
          Case-sensitive.

          For example, `Promotion_a` and `Promotion_A` are regarded as different unit
          names.

          '
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_]{1,30}$
          minLength: 1
          maxLength: 30
      - in: query
        name: from
        required: true
        description: 'Start date of aggregation period.


          Format: yyyyMMdd (e.g. 20210301)

          Time zone: UTC+9

          '
        schema:
          type: string
          pattern: ^[0-9]{8}$
          example: '20210301'
          minLength: 8
          maxLength: 8
      - in: query
        name: to
        required: true
        description: 'End date of aggregation period. The end date can be specified
          for up to 30 days later. For example, if the start date is 20210301, the
          latest end date is 20210331.


          Format: yyyyMMdd (e.g. 20210301)

          Time zone: UTC+9

          '
        schema:
          type: string
          pattern: ^[0-9]{8}$
          example: '20210301'
          minLength: 8
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatisticsPerUnitResponse'
              example:
                overview:
                  uniqueImpression: 40
                  uniqueClick: 30
                  uniqueMediaPlayed: 25
                  uniqueMediaPlayed100Percent: null
                messages:
                - seq: 1
                  impression: 42
                  mediaPlayed: 30
                  mediaPlayed25Percent: null
                  mediaPlayed50Percent: null
                  mediaPlayed75Percent: null
                  mediaPlayed100Percent: null
                  uniqueMediaPlayed: 25
                  uniqueMediaPlayed25Percent: null
                  uniqueMediaPlayed50Percent: null
                  uniqueMediaPlayed75Percent: null
                  uniqueMediaPlayed100Percent: null
                clicks:
                - seq: 1
                  url: https://developers.line.biz/
                  click: 35
                  uniqueClick: 25
                  uniqueClickOfRequest: null
                - seq: 1
                  url: https://www.line-community.me/
                  click: 29
                  uniqueClick: null
                  uniqueClickOfRequest: null
  /callback:
    post:
      operationId: callback
      tags:
      - dummy
      description: This is the dummy endpoint to generate the model classes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: dummy response
                type: string
                example: OK
  /v2/bot/channel/detach:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#unlink-detach-module-channel-by-operation-mc-admin
      tags:
      - line-module
      operationId: detachModule
      description: The module channel admin calls the Detach API to detach the module
        channel from a LINE Official Account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetachModuleRequest'
      responses:
        '200':
          description: OK
  /v2/bot/chat/{chatId}/control/acquire:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#acquire-control-api
      tags:
      - line-module
      operationId: acquireChatControl
      description: 'If the Standby Channel wants to take the initiative (Chat Control),
        it calls the Acquire Control API.

        The channel that was previously an Active Channel will automatically switch
        to a Standby Channel.

        '
      parameters:
      - name: chatId
        in: path
        required: true
        description: The `userId`, `roomId`, or `groupId`
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcquireChatControlRequest'
      responses:
        '200':
          description: OK
  /v2/bot/chat/{chatId}/control/release:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#release-control-api
      tags:
      - line-module
      operationId: releaseChatControl
      description: 'To return the initiative (Chat Control) of Active Channel to Primary
        Channel, call the Release Control API.

        '
      parameters:
      - name: chatId
        in: path
        required: true
        description: The `userId`, `roomId`, or `groupId`
        schema:
          type: string
      responses:
        '200':
          description: OK
  /v2/bot/list:
    get:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#get-multiple-bot-info-api
      tags:
      - line-module
      operationId: getModules
      description: Gets a list of basic information about the bots of multiple LINE
        Official Accounts that have attached module channels.
      parameters:
      - name: start
        in: query
        required: false
        description: 'Value of the continuation token found in the next property of
          the JSON object returned in the response.

          If you can''t get all basic information about the bots in one request, include
          this parameter to get the remaining array.

          '
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: 'Specify the maximum number of bots that you get basic information
          from. The default value is 100.

          Max value: 100

          '
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetModulesResponse'
              example:
                bots:
                - userId: Uf2dd6e8b081d2ff9c05c98a8a8b269c9
                  basicId: '@628...'
                  displayName: Test01
                  pictureUrl: https://profile.line-scdn.net/0hyxytJNAlJldEDQzlatVZAHhIKDoz...
                - userId: Ua831d37bfe8232808202b85127663f70
                  basicId: '@076lu...'
                  displayName: Test02
                  pictureUrl: https://profile.line-scdn.net/0hohnizdyzMEdTECbnVo9PEG9VPiok...
                - userId: Ub77ea431fba86f7c159a0c0f5be43d9f
                  basicId: '@290n...'
                  displayName: Test03
                - userId: Ub8ec80a14e879e9c6833fb4cee0e632b
                  basicId: '@793j...'
                  displayName: Test04
  /liff/v1/apps:
    post:
      operationId: addLIFFApp
      externalDocs:
        url: https://developers.line.biz/en/reference/liff-server/#add-liff-app
      summary: Create LIFF app
      tags:
      - liff
      description: Adding the LIFF app to a channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLiffAppRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddLiffAppResponse'
              example:
                liffId: '{liffId}'
        '400':
          description: 'This status code means one of the following:

            - The request contains an invalid value.

            - The maximum number of LIFF apps that can be added to the channel has
            been reached.

            '
        '401':
          description: 'Authentication failed.


            '
    get:
      operationId: getAllLIFFApps
      externalDocs:
        url: https://developers.line.biz/en/reference/liff-server/#get-all-liff-apps
      summary: Get all LIFF apps
      description: Gets information on all the LIFF apps added to the channel.
      tags:
      - liff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllLiffAppsResponse'
              example:
                apps:
                - liffId: '{liffId}'
                  view:
                    type: full
                    url: https://example.com/myservice
                  description: Happy New York
                  permanentLinkPattern: concat
                - liffId: '{liffId}'
                  view:
                    type: tall
                    url: https://example.com/myservice2
                  features:
                    ble: true
                    qrCode: true
                  permanentLinkPattern: concat
                  scope:
                  - profile
                  - chat_message.write
                  botPrompt: none
        '401':
          description: 'Authentication failed.

            '
        '404':
          description: 'There is no LIFF app on the channel.




            '
  /liff/v1/apps/{liffId}:
    parameters:
    - name: liffId
      in: path
      required: true
      description: ID of the LIFF app to be updated
      schema:
        type: string
    put:
      operationId: updateLIFFApp
      externalDocs:
        url: https://developers.line.biz/en/reference/liff-server/#update-liff-app
      summary: Update LIFF app from a channel
      description: Update LIFF app settings
      tags:
      - liff
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLiffAppRequest'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: 'The request contains an invalid value.

            '
        '401':
          description: 'Authentication failed.

            '
        '404':
          description: 'This status code means one of the following:

            - The specified LIFF app does not exist.

            - The specified LIFF app has been added to another channel.

            '
    delete:
      operationId: deleteLIFFApp
      externalDocs:
        url: https://developers.line.biz/en/reference/liff-server/#delete-liff-app
      summary: Delete LIFF app from a channel
      description: 'Deletes a LIFF app from a channel.

        '
      tags:
      - liff
      responses:
        '200':
          description: OK
        '401':
          description: 'Authentication failed.

            '
        '404':
          description: 'This status code means one of the following:

            - The specified LIFF app does not exist.

            - The specified LIFF app has been added to another channel.


            '
  /module/auth/v1/token:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#link-attach-by-operation-module-channel-provider
      tags:
      - line-module-attach
      operationId: attachModule
      description: Attach by operation of the module channel provider
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              description: request of the attachModule
              type: object
              properties:
                grant_type:
                  type: string
                  description: authorization_code
                  example: authorization_code
                code:
                  type: string
                  description: Authorization code received from the LINE Platform.
                redirect_uri:
                  type: string
                  description: Specify the redirect_uri specified in the URL for authentication
                    and authorization.
                code_verifier:
                  type: string
                  description: Specify when using PKCE (Proof Key for Code Exchange)
                    defined in the OAuth 2.0 extension specification as a countermeasure
                    against authorization code interception attacks.
                client_id:
                  type: string
                  description: 'Instead of using Authorization header, you can use
                    this parameter to specify the channel ID of the module channel.

                    You can find the channel ID of the module channel in the LINE
                    Developers Console.

                    '
                client_secret:
                  type: string
                  description: 'Instead of using Authorization header, you can use
                    this parameter to specify the channel secret of the module channel.

                    You can find the channel secret of the module channel in the LINE
                    Developers Console.

                    '
                region:
                  type: string
                  description: 'If you specified a value for region in the URL for
                    authentication and authorization, specify the same value.

                    '
                basic_search_id:
                  type: string
                  description: If you specified a value for basic_search_id in the
                    URL for authentication and authorization, specify the same value.
                scope:
                  type: string
                  description: If you specified a value for scope in the URL for authentication
                    and authorization, specify the same value.
                brand_type:
                  type: string
                  description: If you specified a value for brand_type in the URL
                    for authentication and authorization, specify the same value.
              required:
              - grant_type
              - code
              - redirect_uri
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachModuleResponse'
              example:
                bot_id: U45c5c51f0050ef0f0ee7261d57fd3c56
                scopes:
                - message:send
                - message:receive
          description: OK
  /shop/v3/mission:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/partner-docs/#send-mission-stickers-v3
      tags:
      - shop
      operationId: missionStickerV3
      description: Sends a mission sticker.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MissionStickerRequest'
        required: true
      responses:
        '200':
          description: Returns status code 200 and an empty response body.
  /oauth2/v3/token:
    post:
      externalDocs:
        url: https://developers.line.biz/en/reference/messaging-api/#issue-stateless-channel-access-token
      tags:
      - channel-access-token
      operationId: issueStatelessChannelToken
      description: 'Issues a new stateless channel access token, which doesn''t have
        max active token limit

        unlike the other token types.

        The newly issued token is only valid for 15 minutes but can not be revoked
        until it naturally expires.

        '
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
[...]
