{
  "openapi" : "3.0.0",
  "info" : {
    "description" : "Merged OpenAPI specification",
    "title" : "Merged API",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "/"
  } ],
  "paths" : {
    "/v2/bot/channel/webhook/endpoint" : {
      "get" : {
        "description" : "Get webhook endpoint information",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-webhook-endpoint-information"
        },
        "operationId" : "getWebhookEndpoint",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "ACTIVE" : {
                    "summary" : "If the webhook URL was set and the webhook usage is enabled",
                    "value" : {
                      "endpoint" : "https://example.com/test",
                      "active" : true
                    }
                  },
                  "INACTIVE" : {
                    "summary" : "If the webhook URL was set and the webhook usage is disabled",
                    "value" : {
                      "endpoint" : "https://example.com/test",
                      "active" : false
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/GetWebhookEndpointResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      },
      "put" : {
        "description" : "Set webhook endpoint URL",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#set-webhook-endpoint-url"
        },
        "operationId" : "setWebhookEndpoint",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SetWebhookEndpointRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/channel/webhook/test" : {
      "post" : {
        "description" : "Test webhook endpoint",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#test-webhook-endpoint"
        },
        "operationId" : "testWebhookEndpoint",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TestWebhookEndpointRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "success" : true,
                  "timestamp" : "2020-09-30T05:38:20.031Z",
                  "statusCode" : 200,
                  "reason" : "OK",
                  "detail" : "200"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/TestWebhookEndpointResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/{messageId}/content" : {
      "get" : {
        "description" : "Download image, video, and audio data sent from users.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-content"
        },
        "operationId" : "getMessageContent",
        "parameters" : [ {
          "description" : "Message ID of video or audio",
          "explode" : false,
          "in" : "path",
          "name" : "messageId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "description" : "blob response",
                  "format" : "binary",
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          }
        },
        "servers" : [ {
          "url" : "https://api-data.line.me"
        } ],
        "tags" : [ "messaging-api-blob" ]
      }
    },
    "/v2/bot/message/{messageId}/content/preview" : {
      "get" : {
        "description" : "Get a preview image of the image or video",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-image-or-video-preview"
        },
        "operationId" : "getMessageContentPreview",
        "parameters" : [ {
          "description" : "Message ID of image or video",
          "explode" : false,
          "in" : "path",
          "name" : "messageId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "description" : "blob response",
                  "format" : "binary",
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          }
        },
        "servers" : [ {
          "url" : "https://api-data.line.me"
        } ],
        "tags" : [ "messaging-api-blob" ]
      }
    },
    "/v2/bot/message/{messageId}/content/transcoding" : {
      "get" : {
        "description" : "Verify the preparation status of a video or audio for getting",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#verify-video-or-audio-preparation-status"
        },
        "operationId" : "getMessageContentTranscodingByMessageId",
        "parameters" : [ {
          "description" : "Message ID of video or audio",
          "explode" : false,
          "in" : "path",
          "name" : "messageId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "status" : "processing"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/GetMessageContentTranscodingResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "servers" : [ {
          "url" : "https://api-data.line.me"
        } ],
        "tags" : [ "messaging-api-blob" ]
      }
    },
    "/v2/bot/message/reply" : {
      "post" : {
        "description" : "Send reply message",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#send-reply-message"
        },
        "operationId" : "replyMessage",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ReplyMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReplyMessageResponse"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad request"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/push" : {
      "post" : {
        "description" : "Sends a message to a user, group chat, or multi-person chat at any time.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#send-push-message"
        },
        "operationId" : "pushMessage",
        "parameters" : [ {
          "description" : "Retry key.\nSpecifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`) generated by any method.\nThe retry key isn't generated by LINE. Each developer must generate their own retry key.\n",
          "explode" : false,
          "in" : "header",
          "name" : "X-Line-Retry-Key",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PushMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PushMessageResponse"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "409" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Conflict"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/multicast" : {
      "post" : {
        "description" : "An API that efficiently sends the same message to multiple user IDs. You can't send messages to group chats or multi-person chats.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#send-multicast-message"
        },
        "operationId" : "multicast",
        "parameters" : [ {
          "description" : "Retry key.\nSpecifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`) generated by any method.\nThe retry key isn't generated by LINE. Each developer must generate their own retry key.\n",
          "explode" : false,
          "in" : "header",
          "name" : "X-Line-Retry-Key",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MulticastRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MulticastResponse"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "409" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Conflict"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/narrowcast" : {
      "post" : {
        "description" : "Send narrowcast message",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#send-narrowcast-message"
        },
        "operationId" : "narrowcast",
        "parameters" : [ {
          "description" : "Retry key.\nSpecifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`) generated by any method.\nThe retry key isn't generated by LINE. Each developer must generate their own retry key.\n",
          "explode" : false,
          "in" : "header",
          "name" : "X-Line-Retry-Key",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NarrowcastRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NarrowcastResponse"
                }
              }
            },
            "description" : "Accepted"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "409" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Conflict"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/progress/narrowcast" : {
      "get" : {
        "description" : "Gets the status of a narrowcast message.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-narrowcast-progress-status"
        },
        "operationId" : "getNarrowcastProgress",
        "parameters" : [ {
          "description" : "The narrowcast message's request ID. Each Messaging API request has a request ID.",
          "explode" : true,
          "in" : "query",
          "name" : "requestId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "phase" : "waiting",
                  "acceptedTime" : "2020-12-03 10:15:30.121000+00:00"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/NarrowcastProgressResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/broadcast" : {
      "post" : {
        "description" : "Sends a message to multiple users at any time.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#send-broadcast-message"
        },
        "operationId" : "broadcast",
        "parameters" : [ {
          "description" : "Retry key.\nSpecifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`) generated by any method.\nThe retry key isn't generated by LINE. Each developer must generate their own retry key.\n",
          "explode" : false,
          "in" : "header",
          "name" : "X-Line-Retry-Key",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BroadcastRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BroadcastResponse"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Forbidden"
          },
          "409" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Conflict"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Too Many Requests"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/quota" : {
      "get" : {
        "description" : "Gets the target limit for sending messages in the current month. The total number of the free messages and the additional messages is returned.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-quota"
        },
        "operationId" : "getMessageQuota",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "type" : "limited",
                  "value" : 1000
                },
                "schema" : {
                  "$ref" : "#/components/schemas/MessageQuotaResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/quota/consumption" : {
      "get" : {
        "description" : "Gets the number of messages sent in the current month.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-consumption"
        },
        "operationId" : "getMessageQuotaConsumption",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "totalUsage" : 500
                },
                "schema" : {
                  "$ref" : "#/components/schemas/QuotaConsumptionResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/delivery/reply" : {
      "get" : {
        "description" : "Get number of sent reply messages",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-number-of-reply-messages"
        },
        "operationId" : "getNumberOfSentReplyMessages",
        "parameters" : [ {
          "description" : "Date the messages were sent\n\nFormat: `yyyyMMdd` (e.g. `20191231`)\nTimezone: UTC+9\n",
          "explode" : true,
          "in" : "query",
          "name" : "date",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "status" : "ready",
                  "success" : 10000
                },
                "schema" : {
                  "$ref" : "#/components/schemas/NumberOfMessagesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/delivery/push" : {
      "get" : {
        "description" : "Get number of sent push messages",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-number-of-push-messages"
        },
        "operationId" : "getNumberOfSentPushMessages",
        "parameters" : [ {
          "description" : "Date the messages were sent\n\nFormat: `yyyyMMdd` (e.g. `20191231`)\nTimezone: UTC+9\n",
          "explode" : true,
          "in" : "query",
          "name" : "date",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "status" : "ready",
                  "success" : 10000
                },
                "schema" : {
                  "$ref" : "#/components/schemas/NumberOfMessagesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/delivery/multicast" : {
      "get" : {
        "description" : "Get number of sent multicast messages",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-number-of-multicast-messages"
        },
        "operationId" : "getNumberOfSentMulticastMessages",
        "parameters" : [ {
          "description" : "Date the messages were sent\n\nFormat: `yyyyMMdd` (e.g. `20191231`)\nTimezone: UTC+9\n",
          "explode" : true,
          "in" : "query",
          "name" : "date",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "status" : "ready",
                  "success" : 10000
                },
                "schema" : {
                  "$ref" : "#/components/schemas/NumberOfMessagesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/delivery/broadcast" : {
      "get" : {
        "description" : "Get number of sent broadcast messages",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-number-of-broadcast-messages"
        },
        "operationId" : "getNumberOfSentBroadcastMessages",
        "parameters" : [ {
          "description" : "Date the messages were sent\n\nFormat: yyyyMMdd (e.g. 20191231)\nTimezone: UTC+9\n",
          "explode" : true,
          "in" : "query",
          "name" : "date",
          "required" : true,
          "schema" : {
            "format" : "^[0-9]{8}$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "status" : "ready",
                  "success" : 10000
                },
                "schema" : {
                  "$ref" : "#/components/schemas/NumberOfMessagesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/validate/reply" : {
      "post" : {
        "description" : "Validate message objects of a reply message",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-reply-message"
        },
        "operationId" : "validateReply",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ValidateMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/validate/push" : {
      "post" : {
        "description" : "Validate message objects of a push message",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-push-message"
        },
        "operationId" : "validatePush",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ValidateMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/validate/multicast" : {
      "post" : {
        "description" : "Validate message objects of a multicast message",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-multicast-message"
        },
        "operationId" : "validateMulticast",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ValidateMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/validate/narrowcast" : {
      "post" : {
        "description" : "Validate message objects of a narrowcast message",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-narrowcast-message"
        },
        "operationId" : "validateNarrowcast",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ValidateMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/validate/broadcast" : {
      "post" : {
        "description" : "Validate message objects of a broadcast message",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-broadcast-message"
        },
        "operationId" : "validateBroadcast",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ValidateMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/aggregation/info" : {
      "get" : {
        "description" : "Get number of units used this month",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-number-of-units-used-this-month"
        },
        "operationId" : "getAggregationUnitUsage",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "numOfCustomAggregationUnits" : 22
                },
                "schema" : {
                  "$ref" : "#/components/schemas/GetAggregationUnitUsageResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/aggregation/list" : {
      "get" : {
        "description" : "Get name list of units used this month",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-name-list-of-units-used-this-month"
        },
        "operationId" : "getAggregationUnitNameList",
        "parameters" : [ {
          "description" : "The maximum number of aggregation units you can get per request.\n",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Value of the continuation token found in the next property of the JSON object returned in the response.\nIf you can't get all the aggregation units in one request, include this parameter to get the remaining array.\n",
          "explode" : true,
          "in" : "query",
          "name" : "start",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "customAggregationUnits" : [ "promotion_a", "promotion_b" ],
                  "next" : "jxEWCEEP..."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/GetAggregationUnitNameListResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/profile/{userId}" : {
      "get" : {
        "description" : "Get profile",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-profile"
        },
        "operationId" : "getProfile",
        "parameters" : [ {
          "description" : "User ID",
          "explode" : false,
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "displayName" : "LINE taro",
                  "userId" : "U4af4980629...",
                  "language" : "en",
                  "pictureUrl" : "https://obs.line-apps.com/...",
                  "statusMessage" : "Hello, LINE!"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/UserProfileResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/followers/ids" : {
      "get" : {
        "description" : "Get a list of users who added your LINE Official Account as a friend",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-follower-ids"
        },
        "operationId" : "getFollowers",
        "parameters" : [ {
          "description" : "Value of the continuation token found in the next property of the JSON object returned in the response.\nInclude this parameter to get the next array of user IDs.\n",
          "explode" : true,
          "in" : "query",
          "name" : "start",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The maximum number of user IDs to retrieve in a single request.",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "default" : 300,
            "format" : "int32",
            "maximum" : 1000,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "userIds" : [ "U4af4980629...", "U0c229f96c4...", "U95afb1d4df..." ],
                  "next" : "yANU9IA..."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/GetFollowersResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/info" : {
      "get" : {
        "description" : "Get bot info",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-bot-info"
        },
        "operationId" : "getBotInfo",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "userId" : "Ub9952f8...",
                  "basicId" : "@216ru...",
                  "displayName" : "Example name",
                  "pictureUrl" : "https://obs.line-apps.com/...",
                  "chatMode" : "chat",
                  "markAsReadMode" : "manual"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/BotInfoResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/group/{groupId}/member/{userId}" : {
      "get" : {
        "description" : "Get group chat member profile",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-group-member-profile"
        },
        "operationId" : "getGroupMemberProfile",
        "parameters" : [ {
          "description" : "Group ID",
          "explode" : false,
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "User ID",
          "explode" : false,
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "displayName" : "LINE taro",
                  "userId" : "U4af4980629...",
                  "pictureUrl" : "https://obs.line-apps.com/..."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/GroupUserProfileResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/room/{roomId}/member/{userId}" : {
      "get" : {
        "description" : "Get multi-person chat member profile",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-room-member-profile"
        },
        "operationId" : "getRoomMemberProfile",
        "parameters" : [ {
          "description" : "Room ID",
          "explode" : false,
          "in" : "path",
          "name" : "roomId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "User ID",
          "explode" : false,
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "displayName" : "LINE taro",
                  "userId" : "U4af4980629...",
                  "pictureUrl" : "https://obs.line-apps.com/..."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/RoomUserProfileResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/group/{groupId}/members/ids" : {
      "get" : {
        "description" : "Get group chat member user IDs",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-group-member-user-ids"
        },
        "operationId" : "getGroupMembersIds",
        "parameters" : [ {
          "description" : "Group ID",
          "explode" : false,
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Value of the continuation token found in the `next` property of the JSON object returned in the response.\nInclude this parameter to get the next array of user IDs for the members of the group.\n",
          "explode" : true,
          "in" : "query",
          "name" : "start",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "memberIds" : [ "U4af4980629...", "U0c229f96c4...", "U95afb1d4df..." ],
                  "next" : "jxEWCEEP..."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/MembersIdsResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/room/{roomId}/members/ids" : {
      "get" : {
        "description" : "Get multi-person chat member user IDs",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-room-member-user-ids"
        },
        "operationId" : "getRoomMembersIds",
        "parameters" : [ {
          "description" : "Room ID",
          "explode" : false,
          "in" : "path",
          "name" : "roomId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Value of the continuation token found in the `next` property of the JSON object returned in the response.\nInclude this parameter to get the next array of user IDs for the members of the group.\n",
          "explode" : true,
          "in" : "query",
          "name" : "start",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "memberIds" : [ "U4af4980629...", "U0c229f96c4...", "U95afb1d4df..." ],
                  "next" : "jxEWCEEP..."
                },
                "schema" : {
                  "$ref" : "#/components/schemas/MembersIdsResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/group/{groupId}/leave" : {
      "post" : {
        "description" : "Leave group chat",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#leave-group"
        },
        "operationId" : "leaveGroup",
        "parameters" : [ {
          "description" : "Group ID",
          "explode" : false,
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Not Found"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/room/{roomId}/leave" : {
      "post" : {
        "description" : "Leave multi-person chat",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#leave-room"
        },
        "operationId" : "leaveRoom",
        "parameters" : [ {
          "description" : "Room ID",
          "explode" : false,
          "in" : "path",
          "name" : "roomId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/group/{groupId}/summary" : {
      "get" : {
        "description" : "Get group chat summary",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-group-summary"
        },
        "operationId" : "getGroupSummary",
        "parameters" : [ {
          "description" : "Group ID",
          "explode" : false,
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "groupId" : "Ca56f94637c...",
                  "groupName" : "Group name",
                  "pictureUrl" : "https://profile.line-scdn.net/abcdefghijklmn"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/GroupSummaryResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/group/{groupId}/members/count" : {
      "get" : {
        "description" : "Get number of users in a group chat",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-members-group-count"
        },
        "operationId" : "getGroupMemberCount",
        "parameters" : [ {
          "description" : "Group ID",
          "explode" : false,
          "in" : "path",
          "name" : "groupId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "count" : 3
                },
                "schema" : {
                  "$ref" : "#/components/schemas/GroupMemberCountResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/room/{roomId}/members/count" : {
      "get" : {
        "description" : "Get number of users in a multi-person chat",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-members-room-count"
        },
        "operationId" : "getRoomMemberCount",
        "parameters" : [ {
          "description" : "Room ID",
          "explode" : false,
          "in" : "path",
          "name" : "roomId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "count" : 3
                },
                "schema" : {
                  "$ref" : "#/components/schemas/RoomMemberCountResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu" : {
      "post" : {
        "description" : "Create rich menu",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#create-rich-menu"
        },
        "operationId" : "createRichMenu",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RichMenuRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "richMenuId" : "{richMenuId}"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/RichMenuIdResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/validate" : {
      "post" : {
        "description" : "Validate rich menu object",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#validate-rich-menu-object"
        },
        "operationId" : "validateRichMenuObject",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RichMenuRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/{richMenuId}/content" : {
      "get" : {
        "description" : "Download rich menu image.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#download-rich-menu-image"
        },
        "operationId" : "getRichMenuImage",
        "parameters" : [ {
          "description" : "ID of the rich menu with the image to be downloaded",
          "explode" : false,
          "in" : "path",
          "name" : "richMenuId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "*/*" : {
                "schema" : {
                  "description" : "blob response",
                  "format" : "binary",
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          }
        },
        "servers" : [ {
          "url" : "https://api-data.line.me"
        } ],
        "tags" : [ "messaging-api-blob" ]
      },
      "post" : {
        "description" : "Upload rich menu image",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#upload-rich-menu-image"
        },
        "operationId" : "setRichMenuImage",
        "parameters" : [ {
          "description" : "The ID of the rich menu to attach the image to",
          "explode" : false,
          "in" : "path",
          "name" : "richMenuId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "description" : "blob request",
                "format" : "binary",
                "type" : "string"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "servers" : [ {
          "url" : "https://api-data.line.me"
        } ],
        "tags" : [ "messaging-api-blob" ]
      }
    },
    "/v2/bot/richmenu/{richMenuId}" : {
      "delete" : {
        "description" : "Deletes a rich menu.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#delete-rich-menu"
        },
        "operationId" : "deleteRichMenu",
        "parameters" : [ {
          "description" : "ID of a rich menu",
          "explode" : false,
          "in" : "path",
          "name" : "richMenuId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      },
      "get" : {
        "description" : "Gets a rich menu via a rich menu ID.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-rich-menu"
        },
        "operationId" : "getRichMenu",
        "parameters" : [ {
          "description" : "ID of a rich menu",
          "explode" : false,
          "in" : "path",
          "name" : "richMenuId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "richMenuId" : "{richMenuId}",
                  "size" : {
                    "width" : 2500,
                    "height" : 1686
                  },
                  "name" : "nice rich menu",
                  "chatBarText" : "click",
                  "selected" : false,
                  "areas" : [ {
                    "bounds" : {
                      "x" : 0,
                      "y" : 0,
                      "width" : 2500,
                      "height" : 1686
                    },
                    "action" : {
                      "type" : "postback",
                      "data" : "action=buy&itemid=123"
                    }
                  } ]
                },
                "schema" : {
                  "$ref" : "#/components/schemas/RichMenuResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/list" : {
      "get" : {
        "description" : "Get rich menu list",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-list"
        },
        "operationId" : "getRichMenuList",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "richmenus" : [ {
                    "richMenuId" : "{richMenuId}",
                    "size" : {
                      "width" : 2500,
                      "height" : 1686
                    },
                    "selected" : false,
                    "name" : "nice rich menu",
                    "chatBarText" : "click",
                    "areas" : [ {
                      "bounds" : {
                        "x" : 0,
                        "y" : 0,
                        "width" : 2500,
                        "height" : 1686
                      },
                      "action" : {
                        "type" : "postback",
                        "data" : "action=buy&itemid=123"
                      }
                    } ]
                  } ]
                },
                "schema" : {
                  "$ref" : "#/components/schemas/RichMenuListResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/user/all/richmenu/{richMenuId}" : {
      "post" : {
        "description" : "Set default rich menu",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#set-default-rich-menu"
        },
        "operationId" : "setDefaultRichMenu",
        "parameters" : [ {
          "description" : "ID of a rich menu",
          "explode" : false,
          "in" : "path",
          "name" : "richMenuId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/user/all/richmenu" : {
      "delete" : {
        "description" : "Cancel default rich menu",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#cancel-default-rich-menu"
        },
        "operationId" : "cancelDefaultRichMenu",
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      },
      "get" : {
        "description" : "Gets the ID of the default rich menu set with the Messaging API.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-default-rich-menu-id"
        },
        "operationId" : "getDefaultRichMenuId",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "richMenuId" : "{richMenuId}"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/RichMenuIdResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/alias" : {
      "post" : {
        "description" : "Create rich menu alias",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#create-rich-menu-alias"
        },
        "operationId" : "createRichMenuAlias",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateRichMenuAliasRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/alias/{richMenuAliasId}" : {
      "delete" : {
        "description" : "Delete rich menu alias",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#delete-rich-menu-alias"
        },
        "operationId" : "deleteRichMenuAlias",
        "parameters" : [ {
          "description" : "Rich menu alias ID that you want to delete.",
          "explode" : false,
          "in" : "path",
          "name" : "richMenuAliasId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          }
        },
        "tags" : [ "messaging-api" ]
      },
      "get" : {
        "description" : "Get rich menu alias information",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-alias-by-id"
        },
        "operationId" : "getRichMenuAlias",
        "parameters" : [ {
          "description" : "The rich menu alias ID whose information you want to obtain.",
          "explode" : false,
          "in" : "path",
          "name" : "richMenuAliasId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "richMenuAliasId" : "richmenu-alias-a",
                  "richMenuId" : "richmenu-88c05ef6921ae53f8b58a25f3a65faf7"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/RichMenuAliasResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      },
      "post" : {
        "description" : "Update rich menu alias",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#update-rich-menu-alias"
        },
        "operationId" : "updateRichMenuAlias",
        "parameters" : [ {
          "description" : "The rich menu alias ID you want to update.",
          "explode" : false,
          "in" : "path",
          "name" : "richMenuAliasId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateRichMenuAliasRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/alias/list" : {
      "get" : {
        "description" : "Get list of rich menu alias",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-alias-list"
        },
        "operationId" : "getRichMenuAliasList",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "TWO_ALIASES" : {
                    "summary" : "If you have 2 rich menu aliases",
                    "value" : {
                      "aliases" : [ {
                        "richMenuAliasId" : "richmenu-alias-a",
                        "richMenuId" : "richmenu-862e6ad6c267d2ddf3f42bc78554f6a4"
                      }, {
                        "richMenuAliasId" : "richmenu-alias-b",
                        "richMenuId" : "richmenu-88c05ef6921ae53f8b58a25f3a65faf7"
                      } ]
                    }
                  },
                  "NO_ALIASES" : {
                    "summary" : "If you have 0 rich menu alias",
                    "value" : {
                      "aliases" : [ ]
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/RichMenuAliasListResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/user/{userId}/richmenu" : {
      "delete" : {
        "description" : "Unlink rich menu from user",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#unlink-rich-menu-from-user"
        },
        "operationId" : "unlinkRichMenuIdFromUser",
        "parameters" : [ {
          "description" : "User ID. Found in the `source` object of webhook event objects. Do not use the LINE ID used in LINE.",
          "explode" : false,
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      },
      "get" : {
        "description" : "Get rich menu ID of user",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-id-of-user"
        },
        "operationId" : "getRichMenuIdOfUser",
        "parameters" : [ {
          "description" : "User ID. Found in the `source` object of webhook event objects. Do not use the LINE ID used in LINE.",
          "explode" : false,
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "richMenuId" : "{richMenuId}"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/RichMenuIdResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/user/{userId}/richmenu/{richMenuId}" : {
      "post" : {
        "description" : "Link rich menu to user.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#link-rich-menu-to-user"
        },
        "operationId" : "linkRichMenuIdToUser",
        "parameters" : [ {
          "description" : "User ID. Found in the `source` object of webhook event objects. Do not use the LINE ID used in LINE.",
          "explode" : false,
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "ID of a rich menu",
          "explode" : false,
          "in" : "path",
          "name" : "richMenuId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/bulk/link" : {
      "post" : {
        "description" : "Link rich menu to multiple users",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#link-rich-menu-to-users"
        },
        "operationId" : "linkRichMenuIdToUsers",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RichMenuBulkLinkRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/bulk/unlink" : {
      "post" : {
        "description" : "Unlink rich menus from multiple users",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#unlink-rich-menu-from-users"
        },
        "operationId" : "unlinkRichMenuIdFromUsers",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RichMenuBulkUnlinkRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/batch" : {
      "post" : {
        "description" : "You can use this endpoint to batch control the rich menu linked to the users using the endpoint such as Link rich menu to user.\nThe following operations are available:\n\n1. Replace a rich menu with another rich menu for all users linked to a specific rich menu\n2. Unlink a rich menu for all users linked to a specific rich menu\n3. Unlink a rich menu for all users linked the rich menu\n",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#batch-control-rich-menus-of-users"
        },
        "operationId" : "richMenuBatch",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RichMenuBatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Accepted"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/validate/batch" : {
      "post" : {
        "description" : "Validate a request body of the Replace or unlink the linked rich menus in batches endpoint.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#validate-batch-control-rich-menus-request"
        },
        "operationId" : "validateRichMenuBatchRequest",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RichMenuBatchRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/richmenu/progress/batch" : {
      "get" : {
        "description" : "Get the status of Replace or unlink a linked rich menus in batches.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-batch-control-rich-menus-progress-status"
        },
        "operationId" : "getRichMenuBatchProgress",
        "parameters" : [ {
          "description" : "A request ID used to batch control the rich menu linked to the user. Each Messaging API request has a request ID.",
          "explode" : true,
          "in" : "query",
          "name" : "requestId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "phase" : "ongoing",
                  "acceptedTime" : "2023-07-04 10:15:30.121000+00:00"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/RichMenuBatchProgressResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/user/{userId}/linkToken" : {
      "post" : {
        "description" : "Issue link token",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#issue-link-token"
        },
        "operationId" : "issueLinkToken",
        "parameters" : [ {
          "description" : "User ID for the LINE account to be linked.\nFound in the `source` object of account link event objects. Do not use the LINE ID used in LINE.\n",
          "explode" : false,
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "linkToken" : "NMZTNuVrPTqlr2IF8Bnymkb7rXfYv5EY"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/IssueLinkTokenResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/markAsRead" : {
      "post" : {
        "description" : "Mark messages from users as read",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/partner-docs/#mark-messages-from-users-as-read"
        },
        "operationId" : "markMessagesAsRead",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "example" : {
                "chat" : {
                  "userId" : "Uxxxxxxxxxxxxxxxxxx"
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/MarkMessagesAsReadRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/bot/pnp/push" : {
      "post" : {
        "description" : "Send LINE notification message",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/partner-docs/#send-line-notification-message"
        },
        "operationId" : "pushMessagesByPhone",
        "parameters" : [ {
          "description" : "String returned in the delivery.data property of the delivery completion event via Webhook.",
          "explode" : false,
          "in" : "header",
          "name" : "X-Line-Delivery-Tag",
          "required" : false,
          "schema" : {
            "maxLength" : 100,
            "minLength" : 16,
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PnpMessagesRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unprocessable Entity"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/bot/ad/multicast/phone" : {
      "post" : {
        "description" : "Send a message using phone number",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/partner-docs/#phone-audience-match"
        },
        "operationId" : "audienceMatch",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AudienceMatchMessagesRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/delivery/pnp" : {
      "get" : {
        "description" : "Get number of sent LINE notification messages　",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/partner-docs/#get-number-of-sent-line-notification-messages"
        },
        "operationId" : "getPNPMessageStatistics",
        "parameters" : [ {
          "description" : "Date the message was sent\n\nFormat: `yyyyMMdd` (Example:`20211231`)\nTime zone: UTC+9\n",
          "explode" : true,
          "in" : "query",
          "name" : "date",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9]{8}$",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "status" : "ready",
                  "success" : 3
                },
                "schema" : {
                  "$ref" : "#/components/schemas/NumberOfMessagesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/message/delivery/ad_phone" : {
      "get" : {
        "description" : "Get result of message delivery using phone number",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/partner-docs/#get-phone-audience-match"
        },
        "operationId" : "getAdPhoneMessageStatistics",
        "parameters" : [ {
          "description" : "Date the message was sent\n\nFormat: `yyyyMMdd` (e.g. `20190831`)\nTime Zone: UTC+9\n",
          "explode" : true,
          "in" : "query",
          "name" : "date",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "READY" : {
                    "summary" : "Example of response when status is `ready`",
                    "value" : {
                      "status" : "ready",
                      "success" : 10000
                    }
                  },
                  "UNAVAILABLE_FOR_PRIVACY" : {
                    "summary" : "Example response when status is `unavailable_for_privacy`",
                    "value" : {
                      "status" : "unavailable_for_privacy"
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/NumberOfMessagesResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/membership/subscription/{userId}" : {
      "get" : {
        "description" : "Get a user's membership subscription.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-a-users-membership-subscription-status"
        },
        "operationId" : "getMembershipSubscription",
        "parameters" : [ {
          "description" : "User ID",
          "explode" : false,
          "in" : "path",
          "name" : "userId",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "subscriptions" : [ {
                    "membership" : {
                      "membershipId" : 3189,
                      "title" : "Basic Plan",
                      "description" : "You will receive messages and photos every Saturday.",
                      "benefits" : [ "Members Only Messages", "Members Only Photos" ],
                      "price" : 500.0,
                      "currency" : "JPY"
                    },
                    "user" : {
                      "membershipNo" : 1,
                      "joinedTime" : 1707214784,
                      "nextBillingDate" : "2024-02-08",
                      "totalSubscriptionMonths" : 1
                    }
                  } ]
                },
                "schema" : {
                  "$ref" : "#/components/schemas/GetMembershipSubscriptionResponse"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "An invalid user ID is specified."
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unable to get information about the membership to which the user subscribes."
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/membership/list" : {
      "get" : {
        "description" : "Get a list of memberships.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-membership-plans"
        },
        "operationId" : "getMembershipList",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "memberships" : [ {
                    "membershipId" : 3189,
                    "title" : "Basic Plan",
                    "description" : "You will receive messages and photos every Saturday.",
                    "benefits" : [ "Members Only Messages", "Members Only Photos" ],
                    "price" : 500.0,
                    "currency" : "JPY",
                    "memberCount" : 1,
                    "memberLimit" : null,
                    "isInAppPurchase" : true,
                    "isPublished" : true
                  }, {
                    "membershipId" : 3213,
                    "title" : "Premium Plan",
                    "description" : "Invitation to a special party.",
                    "benefits" : [ "Members Only Party" ],
                    "price" : 1500.0,
                    "currency" : "JPY",
                    "memberCount" : 0,
                    "memberLimit" : null,
                    "isInAppPurchase" : false,
                    "isPublished" : true
                  } ]
                },
                "schema" : {
                  "$ref" : "#/components/schemas/MembershipListResponse"
                }
              }
            },
            "description" : "OK"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Unable to get information about the memberships."
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/chat/loading/start" : {
      "post" : {
        "description" : "Display a loading animation in one-on-one chats between users and LINE Official Accounts.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#display-a-loading-indicator"
        },
        "operationId" : "showLoadingAnimation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ShowLoadingAnimationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShowLoadingAnimationResponse"
                }
              }
            },
            "description" : "Accepted"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "An invalid chat ID is specified, or the loadingSeconds value is invalid."
          }
        },
        "tags" : [ "messaging-api" ]
      }
    },
    "/v2/bot/audienceGroup/upload" : {
      "post" : {
        "description" : "Create audience for uploading user IDs (by JSON)",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#create-upload-audience-group"
        },
        "operationId" : "createAudienceGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateAudienceGroupRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "audienceGroupId" : 1234567890123,
                  "createRoute" : "MESSAGING_API",
                  "type" : "UPLOAD",
                  "description" : "audienceGroupName_01",
                  "created" : 1613698278,
                  "permission" : "READ_WRITE",
                  "expireTimestamp" : 1629250278,
                  "isIfaAudience" : false
                },
                "schema" : {
                  "$ref" : "#/components/schemas/CreateAudienceGroupResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "manage-audience" ]
      },
      "put" : {
        "description" : "Add user IDs or Identifiers for Advertisers (IFAs) to an audience for uploading user IDs (by JSON)",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#update-upload-audience-group"
        },
        "operationId" : "addAudienceToAudienceGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddAudienceToAudienceGroupRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "manage-audience" ]
      }
    },
    "/v2/bot/audienceGroup/upload/byFile" : {
      "post" : {
        "description" : "Create audience for uploading user IDs (by file).",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#create-upload-audience-group-by-file"
        },
        "operationId" : "createAudienceForUploadingUserIds",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "encoding" : {
                "file" : {
                  "contentType" : "text/plain",
                  "style" : "form"
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/createAudienceForUploadingUserIds_request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "audienceGroupId" : 1234567890123,
                  "createRoute" : "MESSAGING_API",
                  "type" : "UPLOAD",
                  "description" : "audienceGroupName_01",
                  "created" : 1613700237,
                  "permission" : "READ_WRITE",
                  "expireTimestamp" : 1629252237,
                  "isIfaAudience" : false
                },
                "schema" : {
                  "$ref" : "#/components/schemas/CreateAudienceGroupResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "servers" : [ {
          "url" : "https://api-data.line.me"
        } ],
        "tags" : [ "manage-audience-blob" ]
      },
      "put" : {
        "description" : "Add user IDs or Identifiers for Advertisers (IFAs) to an audience for uploading user IDs (by file).",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#update-upload-audience-group-by-file"
        },
        "operationId" : "addUserIdsToAudience",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "encoding" : {
                "file" : {
                  "contentType" : "text/plain",
                  "style" : "form"
                }
              },
              "schema" : {
                "$ref" : "#/components/schemas/addUserIdsToAudience_request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "OK"
          }
        },
        "servers" : [ {
          "url" : "https://api-data.line.me"
        } ],
        "tags" : [ "manage-audience-blob" ]
      }
    },
    "/v2/bot/audienceGroup/click" : {
      "post" : {
        "description" : "Create audience for click-based retargeting",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#create-click-audience-group"
        },
        "operationId" : "createClickBasedAudienceGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateClickBasedAudienceGroupRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "audienceGroupId" : 1234567890123,
                  "createRoute" : "MESSAGING_API",
                  "type" : "CLICK",
                  "description" : "audienceGroupName_01",
                  "created" : 1613705240,
                  "permission" : "READ_WRITE",
                  "expireTimestamp" : 1629257239,
                  "isIfaAudience" : false,
                  "requestId" : "bb9744f9-47fa-4a29-941e-1234567890ab",
                  "clickUrl" : "https://developers.line.biz/"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/CreateClickBasedAudienceGroupResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "manage-audience" ]
      }
    },
    "/v2/bot/audienceGroup/imp" : {
      "post" : {
        "description" : "Create audience for impression-based retargeting",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#create-imp-audience-group"
        },
        "operationId" : "createImpBasedAudienceGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateImpBasedAudienceGroupRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "audienceGroupId" : 1234567890123,
                  "createRoute" : "MESSAGING_API",
                  "type" : "IMP",
                  "description" : "audienceGroupName_01",
                  "created" : 1613707097,
                  "permission" : "READ_WRITE",
                  "expireTimestamp" : 1629259095,
                  "isIfaAudience" : false,
                  "requestId" : "bb9744f9-47fa-4a29-941e-1234567890ab"
                },
                "schema" : {
                  "$ref" : "#/components/schemas/CreateImpBasedAudienceGroupResponse"
                }
              }
            },
            "description" : "OK"
          }
        },
        "tags" : [ "manage-audience" ]
      }
    },
    "/v2/bot/audienceGroup/{audienceGroupId}/updateDescription" : {
      "put" : {
        "description" : "Renames an existing audience.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#set-description-audience-group"
        },
        "operationId" : "updateAudienceGroupDescription",
        "parameters" : [ {
          "description" : "The audience ID.",
          "explode" : false,
          "in" : "path",
          "name" : "audienceGroupId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateAudienceGroupDescriptionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "manage-audience" ]
      }
    },
    "/v2/bot/audienceGroup/{audienceGroupId}/activate" : {
      "put" : {
        "description" : "Activate audience",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#activate-audience-group"
        },
        "operationId" : "activateAudienceGroup",
        "parameters" : [ {
          "description" : "The audience ID.",
          "explode" : false,
          "in" : "path",
          "name" : "audienceGroupId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted"
          }
        },
        "tags" : [ "manage-audience" ]
      }
    },
    "/v2/bot/audienceGroup/{audienceGroupId}" : {
      "delete" : {
        "description" : "Delete audience",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#delete-audience-group"
        },
        "operationId" : "deleteAudienceGroup",
        "parameters" : [ {
          "description" : "The audience ID.",
          "explode" : false,
          "in" : "path",
          "name" : "audienceGroupId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        },
        "tags" : [ "manage-audience" ]
      },
      "get" : {
        "description" : "Gets audience data.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-audience-group"
        },
        "operationId" : "getAudienceData",
        "parameters" : [ {
          "description" : "The audience ID.",
          "explode" : false,
          "in" : "path",
          "name" : "audienceGroupId",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "examples" : {
                  "UPLOADING_USER_IDS" : {
                    "summary" : "Example of an audience used for uploading user IDs",
                    "value" : {
                      "audienceGroup" : {
                        "audienceGroupId" : 1234567890123,
                        "createRoute" : "OA_MANAGER",
                        "type" : "UPLOAD",
                        "description" : "audienceGroupName_01",
                        "status" : "READY",
                        "audienceCount" : 1887,
                        "created" : 1608617466,
                        "permission" : "READ",
                        "isIfaAudience" : false,
                        "expireTimestamp" : 1624342266
                      },
                      "jobs" : [ {
                        "audienceGroupJobId" : 12345678,
                        "audienceGroupId" : 1234567890123,
                        "description" : "audience_list.txt",
                        "type" : "DIFF_ADD",
                        "status" : "FINISHED",
                        "failedType" : "AUDIENCE_GROUP_AUDIENCE_INSUFFICIENT",
                        "audienceCount" : 0,
                        "created" : 1608617472,
                        "jobStatus" : "FINISHED"
                      } ]
                    }
                  },
                  "CLICK_BASED" : {
                    "summary" : "Example of an audience used for click-based retargeting",
                    "value" : {
                      "audienceGroup" : {
                        "audienceGroupId" : 1234567890987,
                        "createRoute" : "OA_MANAGER",
                        "type" : "CLICK",
                        "description" : "audienceGroupName_02",
                        "status" : "IN_PROGRESS",
                        "audienceCount" : 8619,
                        "created" : 1611114828,
                        "permission" : "READ",
                        "isIfaAudience" : false,
                        "expireTimestamp" : 1626753228,
                        "requestId" : "c10c3d86-f565-...",
                        "clickUrl" : "https://example.com/"
                      },
                      "jobs" : [ ]
                    }
                  },
                  "APP_EVENTS" : {
                    "summary" : "Example of an audience used for app events",
                    "value" : {
                      "audienceGroup" : {
                        "audienceGroupId" : 2345678909876,
                        "createRoute" : "AD_MANAGER",
                        "type" : "APP_EVENT",
                        "description" : "audienceGroupName_03",
                        "status" : "READY",
                        "audienceCount" : 8619,
                        "created" : 1608619802,
                        "permission" : "READ",
                        "activated" : 1610068515,
                        "inactiveTimestamp" : 1625620516,
                        "isIfaAudience" : false
                      },
                      "jobs" : [ ],
                      "adaccount" : {
                        "name" : "Ad Account Name"
                      }
                    }
                  }
                },
                "schema" : {
                  "$ref" : "#/components/schemas/GetAudienceDataResponse"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "example" : {
                  "message" : "audience group not found",
                  "details" : [ {
                    "message" : "AUDIENCE_GROUP_NOT_FOUND"
                  } ]
                },
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad request"
          }
        },
        "tags" : [ "manage-audience" ]
      }
    },
    "/v2/bot/audienceGroup/list" : {
      "get" : {
        "description" : "Gets data for more than one audience.",
        "externalDocs" : {
          "url" : "https://developers.line.biz/en/reference/messaging-api/#get-audience-groups"
        },
        "operationId" : "getAudienceGroups",
        "parameters" : [ {
          "description" : "The page to return when getting (paginated) results. Must be 1 or higher.",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
[...]
